.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color:darkslategrey;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header {
    margin-bottom: 20px;
}

.output {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#special {
    background-color:darkturquoise;
}

#operation {
    background-color:bisque;
    color: black;
    border-radius: 25px;
    width: 75px;
}

input[type=button] {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    background-color:coral;
    color: white;
    border: solid black 0.5px;
    width: 80px;
    border-radius: 5px;
    height: 75%;
    outline: none;
}

input:hover[type=button] {
    background-color: aliceblue;
    color: black;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

#special:hover {
    background-color: #c1c1c1;
}

#operation:hover {
    background-color: #c1c1c1;
}